body{
    background: #e5ebf1;
}

/* Style the form container */
form {
    max-width: 400px;
    margin: 0 auto;
}

/* Style labels */
label {
    display: block;
    margin-bottom: 5px;
}

/* Style text inputs and textarea */
input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style the submit button on hover */
input[type="submit"]:hover {
    background-color: #005bbf;
}

/* Style the textarea */
textarea {
    height: 150px;
}
